<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Видеодеф{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Видео дефектолог</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/videocall">Видеозвонок</a></li>
                    <li class="nav-item"><a class="nav-link" href="/games">Игры</a></li>
                    <li class="nav-item"><a class="nav-link" href="/chats">Переписки</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">О нас</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account">Личный кабинет</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-4">
        {% include "messages.html" %}
        {% include "non_field_errors.html" %}

        <h2>{% block page_name %}{% endblock %}</h2>
        {% block content %}{% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/ru.js"></script>
    <script>
        document.querySelectorAll('.date').forEach(function(element) {
            flatpickr(element, {
              dateFormat: "d.m.Y",
              locale: "ru",
            });
        });
    </script>
</body>
</html>