{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2>Вход</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="post" class="mb-3 mt-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <p class="form-label">
                    {{ field.label_tag }}
                    {% if field.field.required %}
                        <span style="color: red; font-size: 25px;">*</span>
                    {% endif %}
                </p>
                {% if field.errors %}
                    {{ field|add_class:"is-invalid"}}
                {% else %}
                    {{ field|add_class:"form-control" }}
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger d-flex align-items-center mb-3 mt-3">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-3 mt-3">Войти</button>
    </form>
    <div class="mb-3 mt-3">
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </div>
{% endblock %}