/* Основные стили */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #F7F7F7 0%, #E3F2FD 100%);
    color: #333;
    line-height: 1.6;
}

header {
    background-image: url('/static/images/oil_paint.jpg');
    background-size: cover;
    color: white;
    padding: 40px;
    text-align: center;
}

.small-circle-text {
    display: inline-block;
    padding: 10px 13px;
    background-color: #4D8CF2;
    border-radius: 50%;
    border: 5px solid #91e199;
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.circle-text {
    display: inline-block;
    padding: 30px 40px;
    background-color: #4D8CF2;
    border-radius: 50%;
    border: 5px solid #36653b;
    color: white;
    font-size: 28px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.circle-text:hover {
    background-color: #9fbcea;
    transform: scale(1.1);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    border-color: #679f6d;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

a {
    color: #47bb52;
    text-decoration: underline;
}

.navbar {
    background-color: #4D8CF2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    font-size: 1.2rem;
    color: white !important;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: #6bf081 !important;
}

.navbar-toggler-icon {
    background-color: white;
}

.container {
    margin-top: 30px;
}

.horizontal-container {
    display: flex;
    justify-content: flex-start;
}

.btn-primary {
    background-color: #4D8CF2;
    border-color: #4D8CF2;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #3b6fc0;
    border-color: #3b6fc0;
    transform: scale(1.05);
}

.card {
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 15px;
    text-align: center;
}

.card-body h5 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4D8CF2;
}

.card-body p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.navbar-toggler {
    border-color: #fff;
}


/* Анимации и эффекты */

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #6bf081;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}


/* Иконки */

.nav-item i {
    margin-right: 8px;
}


/* Плавные анимации для кнопок */

.btn {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


/* Стили для формы */

input,
select,
button {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #00bfff;
    margin-top: 10px;
    width: 100%;
}

button {
    background-color: #00bfff;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #005f7f;
}

.date {
    border: 1px solid #00bfff;
}

.messages,
.non_field_errors {
    background-color: #ffeb3b;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.messages ul,
.non_field_errors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li,
.non_field_errors li {
    color: #c62828;
    font-weight: bold;
}

.back-button {
    display: inline-block;
    top: 20px;
    left: 20px;
    background-color: #ccc;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
    height: 50px;
    width: 50px;
}

.back-button:hover {
    background-color: #e4e4e4;
}

.violation-box {
    display: grid;
    grid-template-columns: 20% 80%;
}

.violation-box input[type="checkbox"] {
    height: 40px;
    width: 80px;
    margin: 5px 10px;
}

.resume-create-box input[type="checkbox"] {
    height: 40px;
    width: 80px;
    margin: 5px 10px;
}

.text-sm {
    font-size: 16px;
}

.container-resume-box {
    display: flex;
    justify-content: center;
}

.resume-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
}

.public-resume-display {}

.resume-avatar {
    height: 200px;
}

.search-teacher-box {
    text-align: left;
    max-width: 600px;
    margin: 25px;
}