{% extends 'base.html' %}
{% block page_name %}О проекте{% endblock %}
{% block content %}
<h3>Краткая информация</h3>
<p>Проект представляет собой масштабный информационный портал для дефектологов и логопедов, предоставляющий инструменты для дистанционного обучения детей с ОВЗ. Платформа включает в себя видеозвонки с интерактивными играми (чему нет аналогов), систему поиска преподавателей, доску вакансий, календарь с запланированными занятиями, систему домашнего задания и прогресса, библиотеку методических материалов, возможность записи на онлайн-курсы и даже маркетплейс для продажи обучающих товаров.</p>
<h3>Актуальность</h3>
<p>По данным статистики, Росстата в 2020 году по направлениям дополнительных общеобразовательных программ обучалось 87 тысяч детей, этом отмечается тенденция роста числа детей с ОВЗ: в 2015 году их было 15 тысяч.
    <br>В настоящее время для социальной адаптации таких детей широкое распространение получили центры нейропсихологии и логопедии. В них, как правило, реализуются программы диагностики и коррекции психических функций и нарушений слуха, речи, зрения и т.д. Примеры подобных сайтов: дефектолог-логопед.рф, color-chicks.ru, budugovorit.ru и другие.
    <br>Однако, при оказании подобных услуг не используются игровые динамики с интеграцией в образовательные курсы. Кроме того, применяемые средства ВКС обычно отделены от образовательного и/или игрового контента курса. Также площадки по предоставлению услуг в основном ориентированы на региональную аудиторию, в то время как существует объективная потребность в консультациях и участии ведущих специалистов в особых и не стандартных случаях заболеваний. Имеющиеся ресурсы в сети Интернет представлены только информационными сайтами, на которых размещены статьи, методические рекомендации и справочные материалы, но отсутствуют интерактивные инструменты для дистанционного обучения и игровой адаптации. Вместе с тем современное развитие технологий взаимодействия с помощью сервисориентированной архитектуры приложений позволяют организовать интерактивное взаимодействие между участниками процесса обучения.
    <br>Таким образом, перечисленные факторы обуславливают актуальность предлагаемого проекта.
</p>
<h3>Социальная значимость</h3>
<p>Высокая Социальная значимость проекта обуславливается необходимость вовлечения детей с ОВЗ в активное образовательное и игровое взаимодействие, способствующее их социальной адаптации и развитию навыков коммуникации со взрослыми и сверстниками.</p>
<h3>Основные целевые группы, на которые направлен проект</h3>
<p>- Дети с ОВЗ – получают удобную игровую систему обучения, которая повышает мотивацию, переводит обучение в активную плоскость, позволяет отдельные задачи изучать и тренировать самостоятельно.
    <br>- Родители – могут контролировать процесс обучения, следить за прогрессом ребенка и выбирать специалистов.
    <br>- Дефектологи и логопеды – получают инструменты для дистанционной работы, возможность конструировать курсы в зависимости т программы обучения, доступ к вакансиям и курсам повышения квалификации.
    <br>- Взрослые с нарушениями речи (например, после инсульта) – могут заниматься с логопедами через удобную платформу.
    <br>- Образовательные учреждения и реабилитационные центры – могут интегрировать платформу в свою работу.
</p>

{% endblock %}