{% extends 'base.html' %}

{% block page_name %}Ваш профиль{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data" class="mb-3 mt-3">
        {% csrf_token %}

        <p><a href="{% url 'view_other_user' unique_id %}">Посмотреть на мою страничку со стороны</a></p>
        {% if forms.profile_form.instance.photo %}
            <img src="{{ forms.profile_form.instance.photo.url }}" style="width:150px;height:150px;">
        {% else %}
            <img src="/static/images/default.png">
        {% endif %}
        <br>
        <div class="form-group">
            <p class="form-label">Изменить фото: </p>
            <input class="form-control" type="file" name="photo" id="id_photo" accept="image/*">
        </div>
        <br>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="photo-clear" id="photo-clear_id" style="transform: scale(1.5)">
            <p class="form-label mx-2">Очистить фото</p>
        </div>
        

        <p class="form-label">Ваш ID: {{ unique_id }}</p>
        <p class="form-label">Дата вашей регистрации: {{ date_registr }}</p>

        {% include "field/default_field.html" with field=forms.user_form.username %}
        {% include "field/default_field.html" with field=forms.user_form.email %}
        {% include "field/default_field.html" with field=forms.user_form.phone_number %}
        {% include "field/default_field.html" with field=forms.user_form.password1 %}
        {% include "field/default_field.html" with field=forms.user_form.password2 %}

        {% include "field/default_field.html" with field=forms.profile_form.first_name %}
        {% include "field/default_field.html" with field=forms.profile_form.last_name %}
        {% include "field/default_field.html" with field=forms.profile_form.patronymic %}
        {% include "field/date_field.html" with field=forms.profile_form.date_birth %}
        {% include "field/default_field.html" with field=forms.profile_form.role %}
        {% include "field/default_field.html" with field=forms.profile_form.gender %}

        <button type="submit" class="btn btn-primary mb-3 mt-3">Отправить изменения</button>
    </form>
    <div class="mb-3 mt-3">
        <p><a href="{% url 'logout' %}">Выйти</a></p>
    </div>

    
{% endblock %}