{% extends 'base.html' %}

{% block page_name %}Вход{% endblock %}
{% block content %}
	<form method="post" enctype="multipart/form-data" class="mb-3 mt-3">
		{% csrf_token %}
		{% include "field/default_field.html" with field=forms.login_form.identifier %}
		{% include "field/default_field.html" with field=forms.login_form.password %}
		
		<button type="submit" class="btn btn-primary mb-3 mt-3">Войти</button>

	</form>
	<div class="mb-3 mt-3">
        <p>Нет аккаунта? <a href="{% url 'account:register' %}">Зарегистрироваться</a></p>
    </div>
{% endblock %}