{% extends 'base.html' %}

{% block page_name %}Регистрация{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data" class="mb-3 mt-3">
        {% csrf_token %}

        <div class="form-group">
            <label class="form-label" for="id_photo">{{ forms.register_form.photo.label_tag }}</label>
            <br>
            <input class="form-control" type="file" name="photo" id="id_photo" accept="image/*">
            <br>
            <img id="preview" src="{{ form.photo.value|default:'/static/images/default.png' }}" alt="Аватар" width="100" height="100" alt="Предпросмотр" style="width:150px;height:150px;">
        </div>
        <script>
            document.getElementById('id_photo').addEventListener('change', function(event) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('preview').src = e.target.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            });
        </script>

        {% include "account/default_field.html" with field=forms.register_form.first_name %}
        {% include "account/default_field.html" with field=forms.register_form.last_name %}
        {% include "account/default_field.html" with field=forms.register_form.patronymic %}
        {% include "account/date_field.html" with field=forms.register_form.date_birth %}
        {% include "account/default_field.html" with field=forms.register_form.role %}
        {% include "account/default_field.html" with field=forms.register_form.gender %}

        {% include "account/default_field.html" with field=forms.register_form.username %}
        {% include "account/default_field.html" with field=forms.register_form.email %}
        {% include "account/default_field.html" with field=forms.register_form.phone_number %}
        {% include "account/default_field.html" with field=forms.register_form.password1 %}
        {% include "account/default_field.html" with field=forms.register_form.password2 %}

        <button type="submit" class="btn btn-primary mb-3 mt-3">Зарегистрироваться</button>
    </form>
    <div class="mb-3 mt-3">
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>

    
{% endblock %}