[run]
source = videodef
branch = True
omit =
    */tests/*
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */manage.py

[report]
omit =
    */tests/*
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */manage.py

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if settings.DEBUG:

[html]
directory = coverage_html_report
title = "Видео дефектолог ру" - покрытие тестами

[xml]
output = coverage.xml
