{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css\game\game_main.css' %}" />{% endblock %}

{% block page_name %}Игры{% endblock %}

{% block content %}
<div class="games-container">
    <div class="games-grid">
        {% for game in games %}
        
        {% if game.url != "#" %}
        <a href="{% url game.url %}" class="game-card-link">
        {% else %}
        <a href="#" class="game-card-link">
        {% endif %}

        <div class="game-card">
            <img src="{% static game.image %}" alt="{{ game.title }}">
            <h2>{{ game.title }}</h2>
            <p>{{ game.description }}</p>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}