{% extends 'base.html' %} 
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/game/puzzles.css' %}" />{% endblock %}

{% block page_name %}Пазлы{% endblock %}

{% block content %}
<!-- Модальное окно настроек -->
    <div id="start-modal" class="modal">
        <div class="modal-content">
            <h2>Выберите изображение для пазла</h2>

            <!-- Пресеты изображений -->
            <div class="preset-images">
                <img src="{% static 'images/british-cat.jpg' %}" class="preset" data-src="{% static 'images/british-cat.jpg' %}">
                <img src="{% static 'images/tree.png' %}" class="preset" data-src="{% static 'images/tree.png' %}">
            </div>

            <!-- Загрузка пользовательского изображения -->
            <label class="upload-label">
                Загрузить своё:
                <input type="file" id="custom-image" accept="image/*">
            </label>

            <!-- Выбор сложности пазла -->
            <label for="difficulty">Выберите сложность:</label>
            <select id="difficulty">
                <option value="2" selected>2x2</option>
                <option value="3">3x3</option>
                <option value="4">4x4</option>
            </select>

            <button id="start-game">Начать игру</button>
        </div>
    </div>

    <!-- <div class="puzzle-container">
        {% for i in "123456789" %}
            <div class="puzzle-piece" id="piece-{{i}}" draggable="true" data-index="{{i}}"></div>
        {% endfor %}
    </div> 
    
    <div id="game-message" style="display: none; text-align: center; font-size: 1.5em; margin-top: 20px;">
        Поздравляем! Вы собрали пазл!
    </div> -->

    <!-- Инициализация переменных и скриптов -->
    
{% endblock %}


{% block scripts %}
<script>
    const images = "{% static 'images' %}";
</script>
<script src="{% static 'js/game/puzzle.bundle.js' %}"></script>
<!-- Инициализация игры после загрузки DOM -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        createPuzzleSeparately();
    });
</script>
{% endblock %}