{% extends "base.html" %}

{% block page_name %}
    {% if object %}Редактировать информацию о ребенке № {{ object.id }}{% else %}Создать информацию о ребенке{% endif %}
{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto py-8 resume-create-box">
    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}

        {% if object %}
            <p><a href="{% url 'account:view_other_user' object.user.unique_id %}">Посмотреть на мою страничку с информацией о ребенке со стороны</a></p>
        {% endif %}

        {% include "field/default_field.html" with field=form.name %}
        {% include "field/default_field.html" with field=form.info %}

        <p>Пол:</p>
        <div style="display: block">
            {{ form.gender }}
        </div>
        
        {% include "field/date_field.html" with field=form.date_birth %}

        <p>Указать виды нарушений ребенка:</p>
        {{ form.violation_types }}

        {{ images_formset.management_form }}
        {% for form in images_formset.forms %}
            {% if object %}
                <h3 class="form-label">- {{ form.instance }}</h3>
            {% endif %}
            {% if form.instance.image %}
                <img src="{{ form.instance.image.url }}" style="max-width:60%;">
            {% endif %}
            {{ form.as_p }}
        {% endfor %}
        
        {% if object %}
            <p><strong>Дата создания:</strong> {{ object.created_at }} по мск</p>
            <p><strong>Дата последнего обновления:</strong> {{ object.updated_at }} по мск</p>
        {% endif %}
        <button type="submit" class="bg-blue-500   py-2 px-4 rounded">Сохранить</button>
    </form>
</div>
{% endblock %}
