{% extends "base.html" %}

{% block content %}
<div class="container-resume-box">

        <div class="resume-box">
            <div class="search-teacher-box md:w-1/4 px-6">
                <h1 class="text-3xl font-bold mb-6">Найти преподавателя</h1>
                <form method="get" class="mb-6">
                    <div>
                        <h2 for="id_violation_types" class="block font-medium mb-2">Виды нарушений:</h2>
                        <div class="space-y-2">
                            {% for field in filter.form.violation_types %}
                                <div class="violation-box">
                                    {{ field.tag }}
                                    <label for="{{ field.id_for_label }}" class="text-sm">{{ field.choice_label }}</label>
                                </div>
                            {% endfor %}
        
                        </div>
                    </div>
                    <button type="submit" class="bg-blue-500 py-2 px-4 rounded text-white mt-4 w-full">Применить фильтры</button>
                </form>
            </div>
            {% for resume in resumes %}
                <div class="public-resume-display p-4 border rounded shadow-lg hover:shadow-xl transition-shadow duration-300">
                    {% if resume.user.profile.photo %}
                        <img src="{{ resume.user.profile.photo.url }}" alt="Аватар" class="resume-avatar h-12 object-cover rounded-t-md mb-4">
                    {% else %}
                        <img src="/static/images/default.png" class="resume-avatar h-12 object-cover rounded-t-md mb-4">
                    {% endif %}
                    <p class="text-gray-500 mb-2">{{ resume.user.profile }}</p>
                    <h2 class="text-xl font-semibold mb-2">{{ resume.short_info }}</h2>
                    <a href="{% url 'public_resume_detail' resume.pk %}" class="text-blue-600 mt-2 inline-block">Подробнее</a>
                </div>
            {% empty %}
                <p>Нет подходящих резюме.</p>
            {% endfor %}
        </div>

</div>
{% endblock %}
