{% extends "base.html" %}

{% block page_name %}
    {% if object %}Редактировать документ № {{ object.id }}{% else %}Создать документ{% endif %}
{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto py-8 resume-create-box">
    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}

        {% include "field/default_field.html" with field=form.name %}
        {% include "field/default_field.html" with field=form.info %}

        {{ images_formset.management_form }}
        {% for form in images_formset.forms %}
            {% if object %}
                <h3 class="form-label">- {{ form.instance }}</h3>
            {% endif %}
            {% if form.instance.image %}
                <img src="{{ form.instance.image.url }}" style="max-width:60%;">
            {% endif %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="bg-blue-500   py-2 px-4 rounded">Сохранить</button>
    </form>
</div>
{% endblock %}
