.games-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #00bfff;
    border: 5px solid #005f7f;
    border-radius: 15px;
    overflow: auto;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.game-card-link {
    text-decoration: none;
    display: block;
    color: black;
}

.game-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game-card img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.game-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.game-card p {
    text-align: justify;
    font-size: 12px;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.game-card:active {
    transform: scale(0.95);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}