.puzzle-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    background-image: url("/static/images/puzzle_test.png");
    background-size: 300px 300px;
    position: absolute;
    transition: left 0.2s, top 0.2s;
    cursor: pointer;
}

#piece-1  { background-position: 0   0; }
#piece-2  { background-position: -100px 0; }
#piece-3  { background-position: -200px 0; }
#piece-4  { background-position: 0 -100px; }
#piece-5  { background-position: -100px -100px; }
#piece-6  { background-position: -200px -100px; }
#piece-7  { background-position: 0 -200px; }
#piece-8  { background-position: -100px -200px; }
#piece-9  { background-position: -200px -200px; }

#game-message {
    font-size: 1.5em;
    color: #4CAF50;  /* Зеленый цвет */
    background-color: #e8f5e9;  /* Легкий зеленый фон */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
