#videos {
    display: flex;
    justify-content: space-around;
}

video {
    width: 35%;
    height: auto;
    background: black;
}

#controls {
    display: flex;
}

.video-call-page header,
.video-call-page nav,
.video-call-page .page_name {
    display: none;
}

#controls button {
    background-color: darkblue;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#controls button.enabled {
    background-color: deepskyblue;
}