{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/chat/chat_room.css' %}" />{% endblock %}
{% block page_name %}Чат{% endblock %}
{% block content %}
    <a href="{% url 'chats' %}" class="back-button">&lt;</a>
    <div class="chat-container">
        <div class="chat-header">
            <div class="chat-user-view-container">
                {% if chat.user1 != user %}
                    {% include "chat/chat_room_user_view.html" with user=chat.user1 %}
                {% else %}
                    {% include "chat/chat_room_user_view.html" with user=chat.user2 %}
                {% endif %}
            </div>
            <button id="start-call-btn" class="video-call-button">📹 Видеозвонок</button>
        </div>
        <div class="chat-messages" id="chat-messages" data-chat-id="{{ chat.id }}">
            {% for event in events %}
                {% ifchanged event.date %}
                    <div class="date-divider">
                        {{ event.date|date:"d E Y" }}
                    </div>
                {% endifchanged %}
        
                {% if event.event_type == 'message' %}
                    <div class="message {% if event.sender == user %}sent{% else %}received{% endif %}">
                        {{ event.content }}
                        <div class="message-time">{{ event.timestamp|date:"H:i" }} по мск</div>
                    </div>
                {% elif event.event_type == 'call' %}
                    <div class="message {% if event.caller == user %}sent{% else %}received{% endif %}">
                        <strong>📹 Видеозвонок</strong><br/>
                        <span>
                            {{ event.started_at|date:"H:i" }}
                            {% if event.ended_at %}
                                — {{ event.ended_at|date:"H:i" }}
                            {% endif %}
                            по мск
                            {% if event.ended_at %}
                                <br/>Длительность: {{ event.duration }}
                            {% endif %}
                        </span>
                        {% if event.accepted %}
                            <div class="status accepted">Принят</div>
                        {% else %}
                            <div class="status declined">Не принят</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="chat-input">
            <textarea id="chat-message-input" placeholder="Введите сообщение..."></textarea>
            <button id="send-message-btn">Отправить</button>
        </div>
    </div>
    <script src="{% static 'js/chat/chat_room.js' %}"></script>
    <script src="{% static 'js/videocall/start_videocall.js' %}"></script>
{% endblock %}

