{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/chat/chats.css' %}" />{% endblock %}
{% block page_name %}Ваши чаты{% endblock %}
{% block content %}
<div class="chat-list">
    {% for chat, last_message in chats_info %}
        <a href="{% url 'chat_room' chat.id %}" class="chat-item">
            {% if chat.user1 != user %}
                {% include "chat/chat_user_view.html" with user=chat.user1 %}
            {% else %}
                {% include "chat/chat_user_view.html" with user=chat.user2 %}
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
