{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/chat/chat_room.css' %}" />{% endblock %}
{% block page_name %}Чат{% endblock %}
{% block content %}
    <a href="{% url 'chats' %}" class="back-button">&lt;</a>
    <div class="chat-container">
        <div class="chat-header">
            <div class="chat-user-view-container">
                {% if chat.user1 != user %}
                    {% include "chat/chat_room_user_view.html" with user=chat.user1 %}
                {% else %}
                    {% include "chat/chat_room_user_view.html" with user=chat.user2 %}
                {% endif %}
            </div>
            <button id="start-call-btn" class="video-call-button">📹 Видеозвонок</button>
        </div>
        <div class="chat-messages" id="chat-messages" data-chat-id="{{ chat.id }}">
            {% for message in chat.messages.all %}
                <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}">
                    {{ message.content }}
                    <div class="message-time">{{ message.timestamp|date:"H:i" }} по мск</div>
                </div>
            {% endfor %}
        </div>
        <div class="chat-input">
            <textarea id="chat-message-input" placeholder="Введите сообщение..."></textarea>
            <button id="send-message-btn">Отправить</button>
        </div>
    </div>
    <script src="{% static 'js/chat/chat_room.js' %}"></script>
    <script>
        const otherUserId = document.getElementById('view-other-user-box').dataset.otherUserId;
        console.log(otherUserId)
        document.getElementById('start-call-btn').onclick = () => {
            alert("Вы отправили заявку на звонок")
            fetch('/videocall/start-call/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ receiver_id: otherUserId })
                })
                .then(resp => resp.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = `/videocall/call/${data.room_name}/`;
                    }
                });
        };
    </script>
{% endblock %}

