{% extends 'base.html' %}
{% load static %}
{% block page_name %}Чат{% endblock %}
{% block content %}
    <div id="chat-messages" data-chat-id="{{ chat.id }}">
        {% for message in chat.messages.all %}
            <div>
                <b>{{ message.sender_id }}:</b> {{ message.content }}
            </div>
        {% endfor %}
    </div>

    <textarea id="chat-message-input" placeholder="Введите сообщение..."></textarea>
    <button id="send-message-btn">Отправить</button>

    <script>
        const chatId = document.getElementById('chat-messages').dataset.chatId;
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + chatId + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-messages').innerHTML += `<div><b>${data.user_id}:</b> ${data.message}</div>`;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#send-message-btn').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            // Отправляем сообщение без user_id (он берется на сервере)
            chatSocket.send(JSON.stringify({'message': message}));

            messageInputDom.value = ''; // очистить поле после отправки
        };
    </script>

{% endblock %}
